<%= stylesheet_link_tag :login %>

<div class="brand"><%= link_to 'ThreadVerse', root_path  ,class: "navbar-brand"%><b>TM</b></div>

<div id="login-box">
  <div class="left">
    <h1>Log In</h1>
    <%= form_with url: log_in_path do |form| %>
      <%= form.text_field :email, placeholder: "E-mail", class: "form-control" %>
      <%= form.password_field :password, placeholder: "Password", class: "form-control" %>
      <%= form.submit 'Log In', class: "login-button signup-button" %>
    <% end %>
    <%= link_to 'Sign Up', sign_up_path, class: "change-login" %>

    <%= link_to 'Forgot Password', password_reset_path, class: "forgot-password" %>
  </div>

  <div class="right">
    <span class="loginwith">Sign in with<br />social network</span>
    <button class="social-signin facebook">Log in with facebook</button>
    <button class="social-signin X">Log in with X</button>
    <button class="social-signin google">Log in with Google+</button>
  </div>

  <div class="or">OR</div>
</div>
