
<%= render partial: "shared/navbar" %>

<div class="notification-body">
    <h3>Notifications</h3>
    <% @notifications.each do |notification| %>
        <% if notification.event.params[:chatroom] %>
            <div class="notification-card">
                <div class="notification-type">
                    <%= notification.event.params[:type] %>
                </div>
                <div class="notification-username">
                    <% if defined? notification.event.params[:chatroom].participants %>
                        <% notification.event.params[:chatroom].participants.each do |participant| %>
                            <% if participant.user != Current.user %>
                                <span>from <%= participant.user.username %></span>
                            <% end %>
                        <% end %>
                    <% else %>
                        <span>from <%= notification.event.params[:chatroom].name %></span>
                    <% end %>
                </div>
                <div class="notification-info">
                    <%= notification.event.params[:message] %>
                </div>
            </div>
        <% end %>
    <% end %>
</div>