<%= stylesheet_link_tag :rooms %>
<%= javascript_include_tag "rooms.js" %>

<% if @single_room %>
    <div class="row">
        <div id="current-room" class="message-room bg-dark text-light">
            <div class="room-title">
                <h4 class="text-center">
                    <%= @user&.username || @single_room.name %>
                    <Button class="add-user-button btn btn-dark"><i class="fa fa-user-plus"></i></Button>
                    <%#= form_with model: @room, url: rooms_create_private_path, class: "add-user-form" do |form| %>
                        <%#= form.button nil, data: { disable_with: false }, class: "add-user-button btn btn-dark" do %>
<!--                            <i class="fa fa-user-plus"></i>-->
                        <%# end %>
                    <%# end %>
                </h4>
                <%= render partial: 'rooms/add_user_list' %>
            </div>
            <%= turbo_stream_from @single_room %>
            <div id="messages">
                <%= render @messages %>
            </div>
            <%= render partial: 'messages/new_message_form' %>
        </div>
    </div>
<% end %>